*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.face{
    width:300px;
    height:300px;
    perspective:1000px;
}
.cube{
    width:300px;
    height:300px;
    position:relative;
    transform-style:preserve-3d;
    animation:Cube 10s infinite;
    top: 180px;
    left: 550px;
}
.Box{
    position:absolute;
    width:300px;
    height:300px;
    border:2px solid rgb(237, 234, 234);
    overflow:hidden;
}
.Box img{
    width:inherit;
    height:inherit;
}
.front{
    transform:translateZ(150px);
}
.back{
    transform:rotateY(180deg) translateZ(150px);
}
.right{
    transform:rotateY(90deg) translateZ(150px);
}
.left{
    transform:rotateY(-90deg) translateZ(150px);
}
.top{
    transform:rotateX(90deg) translateZ(150px);
}
.bottom{
    transform:rotateX(-90deg) translateZ(150px);
}
@keyframes Cube{
    0%{
        transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    25%{
        transform:rotateX(360deg);
    }
    50%{
        transform:rotateX(-180deg);
    }
    75%{
        transform: rotateY(180deg);
    }
    100%{
        transform:rotateZ(360deg);
    }
}